<div class="container cats">
  <div class="row">
    <div class="col text-center">
      <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">Thank you!</h4>
        <p>Thanks for uploading your picture. We added an upvote from you to your cat, because, well, it's your cat <%= icon('heart') %></p>
        <hr>
        <p class="mb-0">You can delete your picture anytime. Just go to your profile page.</p>
      </div>
      <div class="card">
        <%= image_tag @cat.picture_url(:thumb), :class => "card-img-top" if @cat.picture.present? %>
        <div class="card-body">
          <button class="btn btn-link voting">
            <span class="badge badge-secondary">
              1000 <%= icon('chevron-circle-up') %>
            </span>
          </button>
          <% if user_signed_in? && @cat.user == current_user %>
            <div class="text-right">
              <%= link_to icon('trash'), @cat, :class => "card-link btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Add another picture', new_cat_path, class: "btn btn-primary" %>
        or
      <%= link_to 'See all the cats', cats_path,  :class => "btn btn-link" %>
    </div>
  </div>
</div>
